<div class="container-dashboard">
  <div class="container-left">
    <div class="container-profil">
      <h1>My profile</h1>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key %>
        <%else %>
          <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678717126/No-Image_uhbhk5.png"%>
        <% end %>
      <h2><%= current_user.nickname %></h2>
      <h6>From <%= current_user.city %></h6>
      <h6>Age <%= current_user.user_age %></h6>
      <p><b>About me</b></p>
      <p><%= current_user.bio %></p>
    </div>

    <br>
    <div class="container-friend">
      <h5>Friend request</h5>
      <% @requests.each do |request| %>
        <% if User.find(request.friend_id) == current_user %>
          <p><%= User.find(request.user_id).nickname%> sent you a friend request</p>
          <%= button_to "CONFIRM", friendship_path(request.id, confirm: true), method: :patch %>
          <%= button_to "DELETE", friendship_path(request.id, confirm: false), method: :patch %>
        <% end %>
      <% end %>

      <h5>All my friends</h5>
        <%# 'Method friends in user model' %>
      <% current_user.friends.each do |friend| %>
      <%= link_to friend.nickname, friend_path(friend.id) %>

        <%# <% if friend.photo.attached? %>
          <%# <%= cl_image_tag friend.photo.key %>
        <%# <%else %>
          <%# <%= image_tag('https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678717126/No-Image_uhbhk5.png')%>
        <%# <% end %>

      <% end %>
    </div>
  </div>

  <div class="container-right">
    <div class="container-newpost">
      <h1>New post</h1>
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="container-post">
    <h5>Friends News:</h5>

      <% @posts.each do |post| %>
        <p><b>by</b> <%= post.user.nickname %> </p>
        <p><b>posted at</b> <%= post.created_at %> </p>
        <p><%= post.content %> </p>
        <% if post.user_id == current_user.id %>
          <%= button_to "Delete post",
                post_path(post.id), method: :delete, class: 'btn btn-post' %>
        <% end %>
      <% end %>
  </div>

  <div class="container-history">
    <h5>My history</h5>
    <ul>
      <% @histories.each_with_index do |history, index| %>
      <li>
      <% @game_detail = @game_details[index] %>
      <%# <%= image_tag(@game_detail["background_image"]) %>
      <%= @game_detail["name"] %>
      <%= history.language %>
      <%= history.level %>
      <%= history.mood %>
      <%= history.mode %>
      <%= history.console %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
