<h1>New post</h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<h3>POST LIST:</h3>
<% @posts.each do |post| %>
  <p><%= post.user.nickname %> </p>
  <p><%= post.created_at %> </p>
  <p><%= post.content %> </p>
<% end %>

<h3>FRIEND REQUESTS:</h3>
    <% @requests.each do |request| %>
        <% if User.find(request.friend_id) == current_user %>
          <p><%= User.find(request.user_id).nickname%> sent you a friend request</p>
          <%= button_to "CONFIRM", friendship_path(request.id, confirm: true), method: :patch %>
          <%= button_to "DELETE", friendship_path(request.id, confirm: false), method: :patch %>
        <% end %>
    <% end %>

<h3>FRIENDS LIST</h3>
<% current_user.friends.each do |friend| %>
    <%= friend.nickname%>
<% end %>
