<div class="container-dashboard">
  <div class="container-left">
    <div class="container-profil">
      <h1><%= current_user.nickname %></h1>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key %>
        <%else %>
          <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678717126/No-Image_uhbhk5.png"%>
        <% end %>
      <h4><%= current_user.city %> <i><%= current_user.user_age %> yo</i></h4>

      <h5 class="title-dash"> About me <h5>
      <h6><%= current_user.bio %><h6>
    </div>

    <br>
    <div class="container-friend">
      <h5 class="title-dash">All my friends</h5>
        <%# 'Method friends in user model' %>
      <% current_user.friends.each do |friend| %>
        <div class="friend-profile">
          <div class="img-post">
            <% if friend.photo.attached? %>
            <%= cl_image_tag friend.photo.key %>
            <%else %>
            <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678717126/No-Image_uhbhk5.png"%>
            <% end %>
            </div>
          <h5 id="name-friend"> <%= link_to friend.nickname, friend_path(friend.id) %> </h5>
        </div>
      <% end %>

      <h5 class="title-dash">Friend request</h5>
      <% @requests.each do |request| %>
        <% if User.find(request.friend_id) == current_user %>
          <p><%= User.find(request.user_id).nickname%> sent you a friend request</p>
          <div class="btn-confirm">
            <%= button_to "CONFIRM", friendship_path(request.id, confirm: true), method: :patch, class: 'btn btn-post' %>
            <%= button_to "REMOVE", friendship_path(request.id, confirm: false), method: :patch, class: 'btn btn-post'%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-right">
    <div class="container-newpost">
      <h3>New post</h3>
      <%# <div class="form-post"> %>
        <%= simple_form_for(@post) do |f| %>
            <%= f.input :content, placeholder: 'post something...', label: false %>
            <%= f.input :photo, as: :file, label: false %>
            <div class="cont-submit">
              <%= f.button :submit %>
            </div>
        <% end %>
      <%# </div> %>
    </div>
    <div class="container-post">
      <h5>News</h5>
        <% @all_posts.each do |post| %>
          <div class="card-post">
            <div class = "container-top">
              <div class="container-top-left">
                <div class="img-post">
                  <% if post.user.photo.attached? %>
                  <%= cl_image_tag post.user.photo.key %>
                  <%else %>
                  <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678717126/No-Image_uhbhk5.png"%>
                  <% end %>
                </div>
                <div class="top-name"><p><%= post.user.nickname %><p></div>
              </div>
             <div class="top-date"><p><i><%= post.created_at.to_s(:short) %></i></p></div>
            </div>
            <div class="photo-post">
              <% if post.photo.key? %>
                <p><%= cl_image_tag post.photo.key %></p>
              <% end %>
            </div>
            <div class="post-content"><p><%= post.content %></p></div>
            <div class="container-bottom">
              <% if post.user_id == current_user.id %>
                <%= button_to "Delete post",
                  post_path(post.id), method: :delete, class: 'btn btn-post' %>
              <% end %>
            <button class='btn btn-post love'> like ❤️ </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
