<%# FRIEND PROFILE INFO %>
<div class="container-show">
  <div class="flex-container space-between">
  <div class="card-show col">
    <div class="img-show">
    <br>
    <% if @friend.photo.attached? %>
          <%= cl_image_tag @friend.photo.key %>
      <%else %>
          <%= image_tag "https://res.cloudinary.com/dcd4fkkhk/image/upload/v1678372380/kisspng-emmanuel-macron-france-selfie-5b1fe5794ebb60.4981385915288170173225_qfdmzt.png"%>
    <% end %>
  </div>

    <div class="container-detail">
      <h3 class='name-show'><%= @friend.nickname%></h3>
      <br>

      <p class="detail-card"><b>Age</b> <%= @friend.user_age%></p>
      <p class="detail-card"><b>From</b> <%= @friend.city%></p>
      <p class="detail-card"><b><%= @friend.bio%><b></p>
      <p class="detail-card"><%= @friend.nickname%>'s favorites games :<br></p>

      <ul class="detail-card">
      <% @user_games.each_with_index do |history, index| %>
        <li>
        <% @game_detail = @game_details[index] %>
        <%= @game_detail["name"] %>
        </li>

      <% end %>
      </ul>
      <%#= link_to "Chat with '#{@friend.nickname}", chatroom_path(@chatroom.id)%>
    </div>


    <div class="container-post">
      <% @friend.posts.each do |post| %>
          <p><b>by</b> <%= post.user.nickname %> </p>
          <p><b>posted at</b> <%= post.created_at %> </p>
          <p><%= post.content %> </p>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-chat">
  <div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <h1><%= @chatroom.name %>'s Chatroom</h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
      </div>
      </div>
    <% end %>

  </div>

  <%# BUTTON CHAT %>
  <%= link_to "Chat with '#{@friend.nickname}", chatroom_path(@chatroom.id)%>

  <%# POST %>
  <div class="container-post">
  <% @friend.posts.each do |post| %>
      <p><b>by</b> <%= post.user.nickname %> </p>
      <p><b>posted at</b> <%= post.created_at %> </p>
      <p><%= post.content %> </p>
  <% end %>
  </div>
</div>
