<div class="container-games">
<h1 class='text-center'>Choose your preferences 🎮</h1>

<div class="form-games">
<%= simple_form_for @user_game do |f| %>
  <%= render "user_games/card", games: @games %>
  <div class="margin-form">
    <%= f.input :language, collection: ["French", "Italian", "English", "German", "Japanese", "Chinese"] %>
    <%= f.input :level,  collection: ["Casual", "Medium level", "Tryharder", "Hardcore Gameur"] %>
    <%= f.input :mood, collection: ["Chill", "Tryhard"]%>
    <%= f.input :mode, collection: ["1on1", "Team"] %>
    <%= f.input :console, collection: ["PC", "PS4", "PS5", "Xbox One", "Xbox 360"] %>
    <%= f.input :game_id, label:false, input_html: { class: 'd-none' } %>
    <i><%= f.button :submit, button_html: { class: 'btn-form'} %></i>
  </div>
<% end %>
</div>
</div>



<%#-------------------------------- Footer Bootstrap ------------------------ %>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">BuddyGaming.com</a>
  </div>
  <!-- Copyright -->
</footer>
