 <h1>Matches</h1>

  <ul>
    <% @filter_matches.each do |user_game| %>
    <li><%= user_game.user.created_at %></li>
    <li><%= user_game.user.nickname %></li>
    <li><%= user_game.user.birthday %></li>
    <li><%= user_game.user.city %></li>
    <li><%= user_game.user.bio %>Bio here:</li>
    <li><%= user_game.user.availability %></li> <br>
    <%= simple_form_for [user_game, @friendship] do |f| %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  </ul>
